# VacationPy

In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame

* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
cities_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Ushuaia,75,AR,1603988482,81,-54.80,-68.30,46.40,29.97
1,1,Contai,73,IN,1603988482,75,21.78,87.75,75.54,5.84
2,2,Airai,14,TL,1603988483,100,-8.93,125.41,61.57,0.89
3,3,Nikolskoye,20,RU,1603988451,87,59.70,30.79,51.01,3.33
4,4,Khedbrahma,0,IN,1603988484,29,24.03,73.05,75.94,1.54

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [4]:
# Store latitude and longitude in coordinates
coordinates = cities_df[["Lat", "Lng"]]
humidity = cities_df["Humidity"].astype(float)
# Plote Heatmap
fig = gmaps.figure(map_type="TERRAIN")
# Create heatmap layer
heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, dissipating=False, max_intensity=10, point_radius=0.5)
#Add layer
fig.add_layer(heat_layer)
#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [37]:
weather_criteria_df = cities_df[(cities_df["Max Temp"] >= 15) & (cities_df["Max Temp"] <= 32)]
weather_criteria_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
23,23,Beringovskiy,0,RU,1603988491,87,63.05,179.32,24.37,8.84
34,34,Fort Nelson,75,CA,1603988455,92,58.81,-122.70,23.00,2.24
48,48,Upernavik,97,GL,1603988501,85,72.79,-56.15,19.15,5.99
50,50,Chumikan,0,RU,1603988501,94,54.72,135.31,31.53,11.30
80,80,Tasiilaq,75,GL,1603988512,91,65.61,-37.64,32.00,10.29