# VacationPy

In [2]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame

* Load the csv exported in Part I to a DataFrame

In [17]:
cities_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
cities_df = cities_df.drop(columns={"Unnamed: 0"})
cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Ushuaia,75,AR,1603988482,81,-54.80,-68.30,46.40,29.97
1,Contai,73,IN,1603988482,75,21.78,87.75,75.54,5.84
2,Airai,14,TL,1603988483,100,-8.93,125.41,61.57,0.89
3,Nikolskoye,20,RU,1603988451,87,59.70,30.79,51.01,3.33
4,Khedbrahma,0,IN,1603988484,29,24.03,73.05,75.94,1.54

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [18]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [19]:
# Store latitude and longitude in coordinates
coordinates = cities_df[["Lat", "Lng"]]
humidity = cities_df["Humidity"].astype(float)
# Plote Heatmap
fig = gmaps.figure(map_type="TERRAIN")
# Create heatmap layer
heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, dissipating=False, max_intensity=10, point_radius=0.5)
#Add layer
fig.add_layer(heat_layer)
#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [59]:
weather_criteria_df = cities_df[(cities_df["Max Temp"] >= 15) & (cities_df["Max Temp"] <= 41)]
weather_criteria_df = weather_criteria_df[(weather_criteria_df["Wind Speed"] >= 5) & (weather_criteria_df["Wind Speed"] <= 15)]
weather_criteria_df = weather_criteria_df[(weather_criteria_df["Cloudiness"] >= 30) & (weather_criteria_df["Cloudiness"] <= 80)]
weather_criteria_df = weather_criteria_df.reset_index()
weather_criteria_df = weather_criteria_df.drop(columns={"index"})
weather_criteria_df = weather_criteria_df.drop([7, 8]).reset_index().drop(columns={"index"})
weather_criteria_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Balkhash,39,KZ,1603988511,72,46.84,74.98,38.23,10.85
1,Tasiilaq,75,GL,1603988512,91,65.61,-37.64,32.00,10.29
2,Yuzhnyy,75,RU,1603988536,74,53.25,83.69,30.20,13.42
3,Causapscal,80,CA,1603988537,59,48.35,-67.23,36.00,12.93
4,Iqaluit,75,CA,1603988547,66,63.75,-68.51,15.80,8.05
5,High Prairie,43,CA,1603988563,86,55.43,-116.49,26.60,8.05
6,Flin Flon,75,CA,1603988565,79,54.77,-101.86,26.60,14.99
7,Terrace,75,CA,1603988617,79,54.52,-128.60,32.00,11.41
8,Port-Cartier,40,CA,1603988620,74,50.03,-66.87,35.01,11.41
9,Nuuk,75,GL,1603988469,79,64.18,-51.72,23.00,8.05
10,Sosnovo-Ozerskoye,75,RU,1603988674,94,52.52,111.54,27.41,7.76

### Hotel Map
* Store into variable named hotel_df.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [60]:
targuet_coordinates = []
target_search = "Hotel"
target_radius = 5000
for i in range(len(weather_criteria_df["Lat"])):
    targuet_coordinates.append(str(weather_criteria_df["Lat"][i]) + ", " + str(weather_criteria_df["Lng"][i]))

responses = []
for i in range(len(targuet_coordinates)):
# set up a parameters dictionary
    params = {
        "location": targuet_coordinates[i],
        "keyword": target_search,
        "radius": target_radius,
        "key": g_key}

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    responses.append(requests.get(base_url, params=params))

In [63]:
hotel_name = []
for response in responses:
    places_data = response.json()
    hotel_name.append(places_data["results"][0]["name"])

In [65]:
weather_criteria_df["Hotel Name"] = hotel_name

In [66]:
weather_criteria_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,Balkhash,39,KZ,1603988511,72,46.84,74.98,38.23,10.85,Guest House Comfort-House-Balkhash
1,Tasiilaq,75,GL,1603988512,91,65.61,-37.64,32.00,10.29,The Red House
2,Yuzhnyy,75,RU,1603988536,74,53.25,83.69,30.20,13.42,"Zvezdochka, Gostinitsa"
3,Causapscal,80,CA,1603988537,59,48.35,-67.23,36.00,12.93,Motel du Vallon
4,Iqaluit,75,CA,1603988547,66,63.75,-68.51,15.80,8.05,Frobisher Inn
5,High Prairie,43,CA,1603988563,86,55.43,-116.49,26.60,8.05,Peavine Inn & Suites
6,Flin Flon,75,CA,1603988565,79,54.77,-101.86,26.60,14.99,Prospector Inn
7,Terrace,75,CA,1603988617,79,54.52,-128.60,32.00,11.41,The Lodge At Skeena Landing
8,Port-Cartier,40,CA,1603988620,74,50.03,-66.87,35.01,11.41,Le Q'Artier
9,Nuuk,75,GL,1603988469,79,64.18,-51.72,23.00,8.05,HHE Express
10,Sosnovo-Ozerskoye,75,RU,1603988674,94,52.52,111.54,27.41,7.76,Sberbank

In [67]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [68]:
 # NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in weather_criteria_df.iterrows()]
locations = weather_criteria_df[["Lat", "Lng"]]

In [72]:
weather_criteria_df["Hotel Info"] = hotel_info

In [73]:
weather_criteria_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name,Hotel Info
0,Balkhash,39,KZ,1603988511,72,46.84,74.98,38.23,10.85,Guest House Comfort-House-Balkhash,\n<dl>\n<dt>Name</dt><dd>Guest House Comfort-H...
1,Tasiilaq,75,GL,1603988512,91,65.61,-37.64,32.00,10.29,The Red House,\n<dl>\n<dt>Name</dt><dd>The Red House</dd>\n<...
2,Yuzhnyy,75,RU,1603988536,74,53.25,83.69,30.20,13.42,"Zvezdochka, Gostinitsa","\n<dl>\n<dt>Name</dt><dd>Zvezdochka, Gostinits..."
3,Causapscal,80,CA,1603988537,59,48.35,-67.23,36.00,12.93,Motel du Vallon,\n<dl>\n<dt>Name</dt><dd>Motel du Vallon</dd>\...
4,Iqaluit,75,CA,1603988547,66,63.75,-68.51,15.80,8.05,Frobisher Inn,\n<dl>\n<dt>Name</dt><dd>Frobisher Inn</dd>\n<...
5,High Prairie,43,CA,1603988563,86,55.43,-116.49,26.60,8.05,Peavine Inn & Suites,\n<dl>\n<dt>Name</dt><dd>Peavine Inn & Suites<...
6,Flin Flon,75,CA,1603988565,79,54.77,-101.86,26.60,14.99,Prospector Inn,\n<dl>\n<dt>Name</dt><dd>Prospector Inn</dd>\n...
7,Terrace,75,CA,1603988617,79,54.52,-128.60,32.00,11.41,The Lodge At Skeena Landing,\n<dl>\n<dt>Name</dt><dd>The Lodge At Skeena L...
8,Port-Cartier,40,CA,1603988620,74,50.03,-66.87,35.01,11.41,Le Q'Artier,\n<dl>\n<dt>Name</dt><dd>Le Q'Artier</dd>\n<dt...
9,Nuuk,75,GL,1603988469,79,64.18,-51.72,23.00,8.05,HHE Express,\n<dl>\n<dt>Name</dt><dd>HHE Express</dd>\n<dt...
10,Sosnovo-Ozerskoye,75,RU,1603988674,94,52.52,111.54,27.41,7.76,Sberbank,\n<dl>\n<dt>Name</dt><dd>Sberbank</dd>\n<dt>Ci...

In [70]:
# Plote Heatmap
fig = gmaps.figure(map_type="TERRAIN")
# Create heatmap layer
marker = gmaps.marker_layer(locations)
#Add layer
fig.add_layer(marker)
#Display figure
fig

Figure(layout=FigureLayout(height='420px'))